/**
 * Emakina theme for reveal.js.
 *
 * By Pieter-Jan Drouillon, www.pieterjd.be
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

//emakina fonts
//@import url(./fonts/emakina/fontleague-gothic.css);
@import url(./fonts/emakina/MuseoSans100Italic/stylesheet.css);
@import url(./fonts/emakina/MuseoSans100Regular/stylesheet.css);
@import url(./fonts/emakina/MuseoSans300Italic/stylesheet.css);
@import url(./fonts/emakina/MuseoSans300Regular/stylesheet.css);
@import url(./fonts/emakina/MuseoSans500Italic/stylesheet.css);
@import url(./fonts/emakina/MuseoSans500Regular/stylesheet.css);
@import url(./fonts/emakina/MuseoSans700Italic/stylesheet.css);
@import url(./fonts/emakina/MuseoSans700Regular/stylesheet.css);
@import url(./fonts/emakina/MuseoSans900Italic/stylesheet.css);
@import url(./fonts/emakina/MuseoSans900Regular/stylesheet.css);

//emakina colors
$tangerine: #ff7f41; //orange
$black: #000000;
$chartreuse: #8cc63f; //green
$grey1: #c8c8c8;
$grey2: #969696;
$grey3: #646464;
$azure: #008fd4; //blue


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: $black;

$mainColor: $grey1;
$headingColor: $tangerine;

$mainFontSize: 42px;
$mainFont: 'museo_sans500';
$headingFont: 'museo_sans500';
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $azure;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

//custom style, eg allow long lines in codeblocks
.reveal .code-wrapper {
	white-space: normal; //copied from ../template/theme
  width: max-content; //customization
}

//no bullets in unordered list
.reveal ul {
  list-style-type: none;
  li:not(:last-child){
     margin-bottom: 1em;
  }
}

.reveal ul ul {
	list-style-type: none;
}
